.body{
    background-color: #FFFF;
    line-height: 2em;
    margin-top: 3em;
    margin-bottom: 2em;

    h1,h2,h3,h4{
        padding-left: 0.2em;
        margin-top: 1.2em;
        margin-bottom: 1.15em;
        border-bottom: solid;
        border-top-color:rgb(165, 164, 164);
        border-bottom-color: rgb(165, 164, 164);
    }
}