<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MYWEBPAGE</title>

    <link rel="shortcut icon" href="http://localhost:3000/image/red-maru.png">

  </head>
  <body>

    <!-- タイトル -->
    <div class="mask">
    <h1>ＴＥＳＴ</h1>
    <div>
        <%- loginStatus %>
    </div>
    </div>

    <div class="container">

        <div class="row">
          
          <div class="col-sm-9">

              <div class="body">

                  <div id="home">

                    <div id="search" style="display: flex">
                      <form id="form02"><input type="text" class="form-horizontal" placeholder=" キーワードを入力"><input type="button"></form>
                      <select>
                        <option value=0 id="op0">文字検索</option>
                        <option value=1 id="op1">タグ検索</option>
                      </select>
                    </div>

                    <div id="filter">
                      <select class="selectpicker">
                        <option value="new">新しい順</option>
                        <option value="old">古い順</option>
                        <option value="name">名前順</option>
                      </select>
                    </div>
      
                    <div id="add">

                    </div>
                    <a id="more">もっと見る</a>
                  </div>
  
                </div>
          </div>

          <div class="col-sm-3">
              <div id="menu">
                  <ul>
                    <li><a href="#" id="btnHOME">HOME</a></li>
                    <li><a href="#" id="btnFORM">□□□□</a></li>
                    <li><a href="#">□□□□</a></li>
                    <li><a href="#">□□□□</a></li>
                  </ul> 
              </div>

          </div>          

    </div>
    
    <script src="/main.js"></script>

  </body>
</html>