
.mask{
  margin: 0px;
  padding: 0px;
}
h1 {
padding: 0.1em 0;/*上下の余白*/
border-top: solid 3px #474655;/*上線*/
border-bottom: solid 3px #474655;/*下線*/
margin: 0;
font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}
.mask h1{ 
  background-image: url(image/pat3.jpg);
  height: 100%;
  width: 100%;
  margin-top: 0;
  color: #474655;
  letter-spacing: 0.6em;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

/*------------------------- Body ----------------------------------*/

body{
  background-color: rgb(238, 238, 238);
  }
.body{
  background-color: rgb(255, 255, 255);
  margin-bottom: 40px;
}

/* menu bar */
#menu ul{ 
  margin: 0; 
  padding: 0; 
  list-style-type: none;
  position: fixed;

  }

  #menu li{ 
  display: inline; 
  padding: 0px; 
  margin: 0; 
  }
  #menu li a{
  display: block; 
  border-left: 8px solid #474655;
  border-top: 1px solid #474655;
  border-bottom: 1px solid #474655; 
  background-color: rgb(255, 255, 255);
  padding: 15px 10px;
  text-decoration: none;
  color: #333;
  width: 150px; 
  margin: 1px 0px;
  text-align: left;
  font-size: 15px;
  font-weight: bold; 
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
  }
  #menu li a:hover{
  border-left: 8px solid #ffffff;
  border-top: 1px solid #474655;
  border-bottom: 1px solid #474655;
  background-color: #d7dde9;
  }

  /* フォームのスタイル */     
  button{
    margin-left: 15px;
  }
  form{
    border: solid;
    border-color: #6e6e6e;
    margin-bottom: 25px;
    padding: 10px;
  }
  p input{
  width: 100%;
  }
  #codeeditor{
    height: 70%;
  }
  .CodeMirror {
    font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    font-size: 10pt;
    height: 100%;
  }
  textarea{
    height: 100%;
  }
  .p{
    height: 74%;
  }

  /* codemirror */
.CodeMirror {
  font-family: "Ubuntu Mono";
  line-height: 1.2em;
  height: 100%;
}

/* ホームコンテンツのスタイル */
#contents{
  border-top: solid;
  border-color: #a3a3a3;
  display: flex;
  padding: 10px;                  
}
#icon{
  margin-right: 4px;
}
#icon a img{
  width:40px;
  height: 40px;
  margin: 5px;
}
#href a{
  color: black;
}
#href a span{
  font-weight: bold;
}
#time{             
  margin-left: 8px;
}