

body{
background-image: url(pat2.jpg);
}
.mask{
  margin: 0px;
  padding: 0px;
}
h1 {
padding: 0.2em 0;/*上下の余白*/
border-top: solid 3px #364e96;/*上線*/
border-bottom: solid 3px #364e96;/*下線*/
margin: 0;
font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}


.mask h1{
  background-image: url(pat3.jpg);
  height: 100%;
  width: 100%;
  margin-top: 9px;
  color: #364e96;
  letter-spacing: 0.6em;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: #444;
  background-color: #efefef;
  text-decoration: none;
}

/*------------------------- Menu ----------------------------------*/
header{
  margin-bottom: 1.5em;
  position: relative;
  width: 100%;
  background-color: #364e96;
}
ul > .row > li{
  display: inline-block;
}
ul > .row > li > a{
  padding: 10px 20px;
  display: block;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: .2em;
}
ul > .row > li > span{
  margin-left: 1.2em;
}
ul > .row > li:hover > a{
  background-color: #efefef;
  color: #444;
}

/* Submenu */

ul .row li ul{
  position: absolute;
  right: 0;
  left: 0;
  padding-right: 15px;
  padding-left: 15px;
}
ul .row li ul li{
  display: block;
  background-color: #efefef;
}
ul .row li ul li a{
  background-color: #efefef;
  color: #444;
  padding: 10px 20px;
  display: block;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: .2em;
}
ul .row li ul li a:hover{
  background-color: #ddd;
}

ul{
  padding-left: 0;
}

/*	Sample01
------------------------------------------*/

.sample01 ul li ul{
  display: none;
}
.sample01 ul li:hover ul{
  display: block;
}

/*------------------------- Body ----------------------------------*/

.body{
  background-color: rgba(255, 255, 255, 0.5);
  height: 1000px;
  margin-bottom: 40px;
}
